<div class="form-container">
    <div class="from-group">
    <h4> Account Create Successfully</h4>
    </div>
    <div class="from-group">
        <h5>Click <a asp-action="Login" asp-controller="Account" class="btn btn-primary">here </a> to log in</h5>
    </div>
</div>
